###################################################################
#                                                                 #
#          Configuration file climate data pipeline               #
#                                                                 #
###################################################################

directories:
  existing_input: /gpfs/projects/meteo/DATA/FAO/input_placeholder
  interpolation: /gpfs/projects/meteo/DATA/FAO/interpolation
  biasadjustment: /gpfs/projects/meteo/DATA/FAO/biasadjustment
  homogenization: /gpfs/projects/meteo/DATA/FAO/homogenization
  temporal: /gpfs/projects/meteo/DATA/FAO/temporal_files
  indices: /gpfs/projects/meteo/DATA/FAO/final_products/indices

requests:
- identifier: CORDEX-CORE_all_placeholder
  STAGES:
  - all
  project:
    name: CORDEX
    type: projections
    format: gridded
  configuration:
    variables:
    - tas
    temporalResolution: daily
    orig_temporalResolution: None
    level: single_levels
    domain: AFR-22
    id: projections-cordex-domains-single-levels
    source: CDS
    filter_paths: True
    experiments:
      - name: historical
        start: 1970-01-01
        end: 2005-12-31
    models:
    - MODEL_PLACEHOLDER
    area:
      name: Global
      coords:
        - -90
        - -180
        - 90
        - 180

  interpolation:
    grid_type:
      custom_grid: None
      grid_path: /gpfs/users/chantreuxa/FAO/fao-scripts/tools/grid_era
    method: conservative_normed

  bias_adjustment:
    method: ibicus-isimip
    processors: 4
    multiprocessing: true
    chunk_size:
      x: 60
      y: 60
    parameters:
      observations:
        path: /gpfs/projects/meteo/DATA/FAO/homogenization/Global/ERA5/day/tas/gridded/day/
        period:
          start: 1970-01-01
          end: 2005-12-31
      historical: /gpfs/projects/meteo/DATA/FAO/interpolation/Global/CORDEX/AFR-22/day/tas/gr025/MODEL_PLACEHOLDER/historical/

  indices:
    - name: placeholder_index
      params:
        temporal_aggregation:
          - MS
        chunksize:
          x: 60
          y: 60

